<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>
        View Product
    </title>
    <style th:replace="/layout :: css"></style>
</head>
<body>
<h1 th:if="${message} != null">
    <span th:text="${message}"></span>
</h1>
<table id="products" th:if="${product} != null">
    <thead>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Category</th>
        <th>Date Input</th>
        <th>Image</th>
        <th colspan="3">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${product.getName()}"></td>
        <td th:text="${product.getPrice()}"></td>
        <td th:text="${product.getDescription()}"></td>
        <td th:text="${product.getCategory().getName()}"></td>
        <td th:text="${product.getInputDate()}"></td>
        <td><img th:src=" @{'/image/'+${product.getImage()}}" alt="Lỗi" src=""></td>
        <td></td>
    </tr>
    </tbody>
</table>
<p><a th:href="@{/product}">Back to list</a></p>
</body>
</html>
