<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>
        Product
    </title>
    <style th:replace="/layout :: css"></style>
</head>
<body>
<h2 th:class="notify" th:if="${message!=null}">
    <span th:text="${message}"></span>
</h2>
<th:block th:if="${errorMessage}">
    <p style="color: red" class="error" th:text="${errorMessage}"></p>
</th:block>
<form id="form" action="" th:action="@{/product/edit/{id}(id=${product.id})}" th:object="${product}" enctype="multipart/form-data" method="post">
    <label>
        <input type="hidden" name="id" th:field="*{id}">
    </label>

    <label>Name
        <input type="text" name="name" th:field="*{name}">
    </label>
    <label>Price
        <input type="text" name="price" th:field="*{price}">
    </label>
    <label>Description
        <input type="text" name="description" th:field="*{description}">
    </label>
    <label>Category
        <select name="category" id="category" th:field="*{category}">
            <option th:each="c:${categories}" th:value="${c.id}" th:text="${c.name}"></option>
        </select>
    </label>
    <label>Date Input
        <input type="text" name="inputDate" th:field="*{inputDate}">
    </label>
    <label>Image
        <input type="file" th:field="*{multipartFile}">
    </label>
    <br>
    <button type="submit">Edit</button>
</form>
<p><a th:href="@{/product}">Back to list</a></p>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>