<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2 th:if="${message} != null"><span th:text="${message}"></span></h2>
<table id = "products">
    <thead>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="p: ${products}">
        <td th:text="${p.getName()}"></td>
        <td th:text="${p.getPrice()}"></td>
        <td th:text="${p.getDescription()}"></td>
        <td><a th:href="@{/product/{id}/edit(id=${p.getId()})}">edit</a></td>
        <td><a th:href="@{/product/{id}/delete(id=${p.getId()})}">delete</a></td>
        <td><a th:href="@{/product/{id}/view(id=${p.getId()})}">view</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>