<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
    <title></title>
<body>
<p>
    <a th:href="@{products/create}">Create new Product</a>
</p>
<table id="product">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Manufacturer</th>
        <th colspan="3">Action</th>
    </tr>
    <tr th:each="p:${products}">
        <td th:text="${p.id}"></td>
        <td th:text="${p.name}"></td>
        <td th:text="${p.price}"></td>
        <td th:text="${p.description}"></td>
        <td th:text="${p.manufacturer}"></td>
        <td><a th:href="@{/products/{id}/edit(id=${p.getId()})}">Edit</a></td>
        <td><a th:href="@{/products/{id}/delete(id=${p.getId()})}">Delete</a></td>
        <td><a th:href="@{/products/{id}/view(id=${p.getId()})}">View</a></td>
    </tr>
</table>

<footer th:replace="/layout :: footer"></footer>
</body>
</html>